@charset "utf-16";
body {
}	
#container{
	
	width:760px;
	height:auto;
	margin:auto;
}
#menu{
	width:760px;
	height:50px;
	background-color: pink;
}
header{
	width:760px;
	height:150px;
	background: url("raluca/banner-curs.png") no-repeat;
	background-size: 100% 100%;
	position:relative;
}
header div{
	width:200px;
	position:absolute;
	bottom:2px;
	right:10px;

}
#search{
	position:absolute;
	bottom:2px;
	right:10px;
}
#content{
	background-color: lightgreen;
	float:left;
	width:480px;
	height:auto;
	min-height: 500px;
	overflow: hidden;
}
h1{
	color:yellow;
	padding-left: 20px;
	
}
p{
	padding-left:20px;
	padding-right:20px;
	
}
#sidebar{
	background-color: lightpink;
	float:right;
	width:280px;
	height:auto;
	min-height: 500px;
}
h3{
	padding-left: 20px;

}
h4{
	padding-left: 20px;
}
a{
	margin-right:5px;
}
footer{
	background-color: gray;
	width:760;
	height:66px;
	clear: both;
	padding: 5px;
}
